h1 {
  font-family: goldenbook, serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

h3 {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

p {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}

body {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(97 90 87);
}

/* Carousel sizing */
  .carousel {
    margin-bottom: 4rem;
  }

  .carousel-caption {
    bottom: 5rem;
    z-index: 10;
  }

  @media screen and (max-width: 767px) {
      .carousel-caption p {
          display: none;
      }
  }

  .carousel-item {
    height: 28rem;
    background-color: #777;
  }
  .carousel-item > img {
    object-fit: cover;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 28rem;
  }
/* END OF CAROUSEL */

/* GRID LAYOUT STYLING  */
  #grid img {
    width: 100%;
    padding-bottom: 30px;
  }

/* Hide elements when on mobile */
  @media screen and (max-width: 767px) {
      .mobilehide {
          display: none !important;
      }
  }
  @media screen and (min-width: 767px) {
      .mobileshow {
          display: none !important;
      }
  }

/* END OF GRID LAYOUT STYLING */

/* General Page Elements Layout */
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .quote {
    text-align: center;
    list-style-position: inside
  }

  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  .jumbotron p:last-child {
    margin-bottom: 0;
  }

  .jumbotron-heading {
    font-weight: 300;
  }

  .jumbotron .container {
    max-width: 40rem;
  }

  #go-top-button {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: -3px;
  z-index: 99;
}

#wallport {
  height: 60%;
  object-fit: cover;
}

#in1991 {
  text-align: left;
  position: sticky;
  padding-bottom: 30px;
}

/* FOOTER STYLING */

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .sitewidefooter {
    list-style: none;
    text-align: right;
    margin-right: 10px;
  }

  .btn-lg.btn-block.email-us {
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
  }

.mobilehide.col-sm-6.col-md-4.email {
  padding-left: 120px;
  padding-right: 120px;
}

  a.btn-lg.btn-block.email-us {
    text-decoration: none;
    color: black;
  }

  .btn-lg.btn-block.email-me:hover {
    color: gray;
  }

  a.mobile.email-me {
    font-style: italic;
    text-align: right;
    margin-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
    color: black;
  }

/* END OF FOOTER STYLES */

/* Page 2 sidebar menu */
  .sidenav {
    display: none;
    width: 160px; /* Set the width of the sidebar */
    position: fixed;
    top: 76px; /* Stay at the top */
    bottom: 100px;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
    padding-left: 30px
  }


  /* Styling the checkboxes for artwork filter */
  .filter {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .filter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: transparent;
    border: 1px solid;
  }

  /* On mouse-over, add a grey background color */
  .filter:hover input ~ .checkmark {
    background-color: black;
  }

  /* When the checkbox is checked, add a black background */
  .filter input:checked ~ .checkmark {
    background-color: black;
  }


  .box{
          color: #fff;
          padding: 20px;
          display: none;
          margin-top: 20px;
      }
      label{ margin-right: 15px; }

  /* Style page2 content */
  .main {
    text-align: center;
    margin-left: 100px;
    margin-right: 10px;
  }

#instructions {
  text-align: center;
}

  /* On smaller screens, where height is less than 768px, change the style of the sidebar */
  @media screen and (max-width: 768px) {
    .sidenav {width:80px;
    padding-left: 10px}
    label {
      font-size: 12px;
    }
    .main {margin-left: 80px}
  }

#spacing {
  padding-top: 100px;
  padding-bottom: 100px;
}
